*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-item a {
    color: rgb(255, 0, 0);
    
}

body{
    background-color:rgba(253, 149, 111, 0.308);
}

.nav {
    background-color:rgba(253, 149, 111, 0.681);
}



button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(85, 81, 89);
}

button:hover{
    background-color:rgba(253, 149, 111, 0.74);
}

.button{position:relative;padding:1em 1.5em;border:none;background-color:transparent;cursor:pointer;outline:0;font-size:18px;}
.button.type1{color:#566473}
.button.type1.type1::after,.button.type1.type1::before{content:"";display:block;position:absolute;width:20%;height:20%;border:2px solid;transition:all .6s ease;border-radius:2px}
.button.type1.type1::after{bottom:0;right:0;border-color:transparent #566473 #566473 transparent}
.button.type1.type1::before{top:0;left:0;border-color:#566473 transparent transparent #566473}
.button.type1.type1:hover:after,.button.type1.type1:hover:before{width:100%;height:100%}




.contenedor {
    display: grid;

}

.contenedor h1{
    display: flex;
    justify-content: center;
}

.contenedor div{
    display: flex;
    justify-content: center;
}

.contenedor a{
    display: flex;
    justify-content: center;
}

.container{
    max-width: 1400px;
    margin: auto;
}

#hero{
    display: flex;
    padding: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        )
    ,url("multimedia/fotos/elvirajet.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#nosotros{
    margin-top: 40px;
    background-color: rgb(234, 173, 138);
    color: rgb(25, 25, 25);
    text-align: center;
}

#nosotros .container{
    padding: 100px 12px;
}

#nosotros h2{
color: black;
    
}

#nosotros p{
    display: none;
    
}

#nosotros .carta{
    justify-content: center;
    justify-content: space-between;

}

#nosotros .programas{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

#nosotros p{
    display: block;
    margin-bottom: 10px;
   
}

#nosotros .carta{
    padding: 15px;
    
}

.playlist {
    display: flex;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;

}

.video1 {
    display: flex;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;

}

.video2 {
    display: flex;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;

}

.container-img{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 30px;
}
.container-img .box-img figure{
    width: 100%;
    height: 100%;
}
.container-img .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-img .box-img:nth-child(1){
    grid-column-start: span 2;
}
.container-img .box-img:nth-child(4){
    grid-row-start: span 2;
}
@media screen and (max-width:800px){
    .container-img{
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-template-rows: 200px;
    }
    .container-img .box-img:nth-child(1){
        grid-column-start: span 1;
    }
}
@media screen and (max-width:500px){
    .container-img{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }
    .container-img .box-img img{
        height: 200px;
    }    

.banda {
    display: grid;
    justify-content: center;
    text-align: center;
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 ;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;

}

.social-network a.icoSpotify:hover {
	background-color: #1db954;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoYoutube:hover {
	background-color:#ff0000;
}
.social-network a.icoInstagram:hover {
	background-color:#E1306C;
}

.social-network a.icoSpotify:hover i, .social-network a.icoFacebook:hover i,.social-network a.icoInstagram:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 100px;
	height: 100px;
	font-size:40px;
	background-color: #D3D3D3;
}
.social-circle li i {
	margin:0;
	line-height:100px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.social-circle i {
	color: rgb(8, 8, 8);
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}



   
#fechas img{
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    justify-content: center;
} 

#ana img{
    max-width: 100%;
    background-color: navajowhite;
}

#nestor img{
    max-width: 100%;
    background-color: navajowhite;
}
#carlos img{
    max-width: 100%;
    background-color: navajowhite;
}

#entrevistas img{
    max-width: 100%;
}

#contacto img{
    max-width: 100%;
}

.card-img-top {
    max-width: 100%;
}


